.block {
  background-color: white;
  border-radius: 15px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;

  @include media-max("desktop") {
    padding: 20px 20px 28px 20px;
    width: 335px;
  }

  @include media-min("desktop") {
    display: flex;
    justify-content: space-around;
    padding: 30px 30px;
    min-width: 900px;
    max-width: 1100px;
  }

  @at-root #{&}__item {
    @include media-max("desktop") {
      &:not(:last-child) {
        margin-bottom: 23px;
      }
    }

    @include media-min("desktop") {
      flex: 1;
    }
  }

  @at-root #{&}__title {
    color: $darkGray;
    text-transform: uppercase;
    letter-spacing: 1px;
    @include media-max("desktop") {
      font-size: 0.7rem;
      margin-bottom: 8px;
    }

    @include media-min("desktop") {
      font-size: 0.8rem;

      margin-bottom: 10px;
    }
  }

  @at-root #{&}__result {
    font-weight: 500;
    font-size: 1.2rem;
    @include media-min("desktop") {
      font-size: 1.5rem;
      width: 70%;
    }
  }
}

hr {
  @include media-min("desktop") {
    margin-right: 15px;
    margin-left: 15px;
  }
  @include media-min("widescreen") {
    margin-right: 40px;
    margin-left: 15px;
  }
}
